gittest/src/main/mule/gittest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="748c8fc7-a6f2-4eab-b46a-0f2bbf3f7449" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gittestFlow" doc:id="0d25ac04-1792-45a3-b6bb-fe703dbbdc76" >
		<http:listener doc:name="Listener" doc:id="fed53e83-1c5c-42db-ae32-27fdbfec56d8" config-ref="HTTP_Listener_config" path="/git"/>
		<ee:transform doc:name="Transform Message" doc:id="67baf33e-2b28-41fb-938b-067c13f6022d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
Time: now() as Date]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f4db8bbd-534c-4b9f-8be3-11f52eecfd07" message="time^^^#[payload]"/>
	</flow>
</mule>
